.header{
    position: relative;
    left: 45%;
    font-size: 30px;
  }

  .row{
    padding-left: 10px; 
  }

  .row img{
    width: 30%;
    padding: 20px;
    width:  420px;
    height: 420px;
  }

  .row img:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
